In [1]:
for num in range(0,20):
    print(num)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [4]:
for num in range(10,20):
    print(num,end=" ")

10 11 12 13 14 15 16 17 18 19

In [5]:
list1=[10,20,14,55,43,87,76]
length=len(list1)
print("Number of item in the List2:",length)

Number of item in the List2: 7

In [10]:
a="Artificial Intelligence"
print(a)
for letters in a:
    print(letters)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [11]:
print("Your Name")
print("Your age")
print(" Your Profession")

Your Name
Your age
 Your Profession

In [12]:
tup=(1,'Welcome',2,'Hope')
print(tup)

(1, 'Welcome', 2, 'Hope')

In [13]:
tup1=(0,1,2,3)
tup2=('Python','Hope')
tup3=(tup1,tup2)
print(tup3)

((0, 1, 2, 3), ('Python', 'Hope'))

In [15]:
num=[20,10,16,19,25,1,276,188]
for i in num:
  if((i%2)==1):
    print(i,"Odd")

19 Odd
25 Odd
1 Odd

In [16]:
num=[20,10,16,19,25,1,276,188]
for i in num:
    if((i%2)==0):
        print(i,"Even")

20 Even
10 Even
16 Even
276 Even
188 Even